{{template "pc/top.html" .}}
<div class="top">
  <h2>Gugoo</h2>
</div>
<div class="left">
  <ul>
    <li><a href="/checkin"><div><i class="fa fa-check fa-2x"></i>考勤</div></a></li>
    <li><a href="/leave"><div><i class="fa fa-leaf fa-2x"></i>请假</div></a></li>
  </ul>
</div>
<div class="right">
    <div class="right-content">
      <table>
        <tr>
          <th>姓名</th>
          <th>电话</ht>
          <th>邮箱</th>
        </tr>
        {{range .Staff}}
        <tr>
          <td>{{.Name}}</td>
          <td>{{.Mobile}}</td>
          <td>{{.Email}}</td>
        </tr>
        {{end }}
      </table>
    </div>
  </div>

</body>
</html>
