<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
  <title>Gugoo</title>
</head>
<body>
<div class="top">
  <h2>Gugoo</h2>
</div>
<div class="left">
  <ul>
    <li><a href="/checkin"><i class="fa fa-check fa-1x"></i>考勤</a></li>
    <li><a href="/leave"><i class="fa fa-leaf fa-1x"></i>请假</a></li>
  </ul>
</div><div class="right">
  <div class="right-content">
    <h2>打卡信息</h2>
    <table>
      <tr>
        <th>姓名</th>
        <th>上午</ht>
        <th>下午</th>
        <th>晚上</th>
      </tr>
      {{range .Checkin}}
      <tr>
        <td>{{.Staff.Name}}</td>
        <td>{{.First}}</td>
        <td>{{.Second}}</td>
        <td>{{.Third}}</td>
      </tr>
      {{end }}
    </table>
  </div>
</div>
</body>
</html>
