{{template "pc/top.html" .}}
  <div class="container">
    <div class="top">
      <h2>Gugoo</h2>
    </div>
    <div class="left">
      <ul>
        <li><a href="/addr"><div class="button">通讯录</div></a></li>
        <li><a href="/checkin"><div class="button">考勤</div></a></li>
        <li><a href="/leave"><div class="button">请假</div></a></li>
      </ul>
    </div>
    <div class="right">
      <div class="right-content">
        <h2>打卡信息</h2>
        <table>
          <tr>
            <th>姓名</th>
            <th>上午</ht>
            <th>下午</th>
            <th>晚上</th>
          </tr>
          {{range .Checkin}}
          <tr>
            <td>{{.Staff.Name}}</td>
            <td>{{.First}}</td>
            <td>{{.Second}}</td>
            <td>{{.Third}}</td>
          </tr>
          {{end }}
        </table>
      </div>
    </div>
  </div>
</body>
</html>
