{{template "pc/top.html" .}}
  <div class="container">
    <div class="top">
      <h2>Gugoo</h2>
    </div>
    <div class="left">
      <ul>
        <li><a href="/addr"><div class="button">通讯录</div></a></li>
        <li><a href="/checkin"><div class="button">考勤</div></a></li>
        <li><a href="/leave"><div class="button">请假</div></a></li>
      </ul>
    </div>
    <div class="right">
      <div class="right-content">
        <h1>这是请假信息</h1>
      </div>
    </div>
  </div>
</body>
</html>
