div,ul,ol,dl{
  margin: 0px;
  padding: 0px;

}
a {
  text-decoration:none;
  color: #000000;
}
ul,ol,dl {
  list-style: none;
}

table {
	border-collapse:collapse;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
.award-name {
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
}
table, th, td {
	border:1px solid #98bf21;
	text-align: center;
	vertical-align: center;
	width: 100%;
	font-size:1em;
	padding:3px 7px 2px 7px;
}
th {
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}