div,ul,ol,dl{
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration:none;
  color: #000000;
}
ul,ol,dl {
  list-style: none;
}

.top {
  background-color: #eeeeee;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0;
  border-bottom: 1px ;
}

.left {
  background-color: #333333;
  padding: 0px 0px 0px 0px;
  width: 80px;
  height: 100%;
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.left ul {
  color: #ffffff;
  margin: 0px;
}
.left ul li {
  margin: 0px;
  padding: 0px;
}
.left ul li a:hover {
  background-color: rgba(233, 233, 233, 0.2);
}
.left ul li a{
  width: 100%;
  display: inline-block;
  color: #ffffff;
  text-align: center;
}
.left ul li a .item{
  width: 100%;
  height: 38px;
  display: inline-block;
  padding: 8px 0;
}
.left ul li i{
  display: block;
}

.right {
  background-color: #CCCCCC;
  position: relative;
  top: 50px;
  left: 80px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
}
.right-content table {
}
