<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">
        body
        {
            margin: 10%;
        }
        table
        {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }
        th
        {
            padding: 6% 0;
        }
        td
        {
            font-size: 1.2em;
        }
        a
        {
            text-decoration: none;
        }

    </style>
    <title>审批记录</title>
</head>
<body>
<h1>审批记录</h1>
<table border="1">
    <thead>
    <tr>
        <th>申请人</th>
        <th>申请时间</th>
        <th>申请状态</th>
        <th>审批时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="detail.html">xx</a></td>
        <td>xx</td>
        <td>xx</td>
        <td>xx</td>
    </tr>
    <tr>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>
    <tr>
        <td>xxx</td>
        <td>xx</td>
        <td>xx</td>
        <td>xx</td>
    </tr>
    <tr>
        <td>xxxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>
    <tr>
        <td>xx</td>
        <td>xx</td>
        <td>xx</td>
        <td>xx</td>
    </tr>
    <tr>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>
    </tbody>
</table>
</body>
</html>