{{template "mobile/top.html" .}}
	<form>
		<label>请假人：王天宇</label>
		</br>
		<label>起始时间</label>
		<select>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="1">5</option>
		  <option value="2">6</option>
		  <option value="3">7</option>
		  <option value="4">8</option>
		  <option value="1">9</option>
		  <option value="2">10</option>
		  <option value="3">11</option>
		  <option value="4">12</option>
		</select>
		<label>月<label>
		<select>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="1">5</option>
		  <option value="2">6</option>
		  <option value="3">7</option>
		  <option value="4">8</option>
		  <option value="1">9</option>
		  <option value="2">10</option>
		  <option value="1">11</option>
		  <option value="2">12</option>
		  <option value="3">13</option>
		  <option value="4">14</option>
		  <option value="1">15</option>
		  <option value="2">16</option>
		  <option value="3">17</option>
		  <option value="4">18</option>
		  <option value="1">19</option>
		  <option value="2">20</option>
		  <option value="1">21</option>
		  <option value="2">22</option>
		  <option value="3">23</option>
		  <option value="4">24</option>
		  <option value="1">25</option>
		  <option value="2">26</option>
		  <option value="3">27</option>
		  <option value="4">28</option>
		  <option value="1">29</option>
		  <option value="2">30</option>
		</select>
		<label>日</label>
		<select>
		  <option value="1">上午</option>
		  <option value="2">下午</option>
		  <option value="3">晚上</option>
		</select>
		</br>
		<label>结束时间</label>
		<select>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="1">5</option>
		  <option value="2">6</option>
		  <option value="3">7</option>
		  <option value="4">8</option>
		  <option value="1">9</option>
		  <option value="2">10</option>
		  <option value="3">11</option>
		  <option value="4">12</option>
		</select>
		<label>月</label>
		<select>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="1">5</option>
		  <option value="2">6</option>
		  <option value="3">7</option>
		  <option value="4">8</option>
		  <option value="1">9</option>
		  <option value="2">10</option>
		  <option value="1">11</option>
		  <option value="2">12</option>
		  <option value="3">13</option>
		  <option value="4">14</option>
		  <option value="1">15</option>
		  <option value="2">16</option>
		  <option value="3">17</option>
		  <option value="4">18</option>
		  <option value="1">19</option>
		  <option value="2">20</option>
		  <option value="1">21</option>
		  <option value="2">22</option>
		  <option value="3">23</option>
		  <option value="4">24</option>
		  <option value="1">25</option>
		  <option value="2">26</option>
		  <option value="3">27</option>
		  <option value="4">28</option>
		  <option value="1">29</option>
		  <option value="2">30</option>
		</select>
		<label>日</label>
		<select>
		  <option value="1">上午</option>
		  <option value="2">下午</option>
		  <option value="3">晚上</option>
		</select>
		</br>
		<label>请假原因<label>
		<input type="text" name="reason">
		</br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
