{{template "mobile/top.html" .}}
	<h1>王天宇的打卡信息</h1>
	<form>
		<select id="year">
		  <option value="2017">2017</option>
		</select>
		<select id="month">
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="1">5</option>
		  <option value="2">6</option>
		  <option value="3">7</option>
		  <option value="4">8</option>
		  <option value="1">9</option>
		  <option value="2">10</option>
		  <option value="3">11</option>
		  <option value="4">12</option>
		</select>
	</form>
	<table id="checkin">
		<tr>
			<th>日期</th>
			<th>上午</th>
			<th>下午</th>
			<th>晚上</th>
		</tr>
		{{range .Checkin}}
		<tr>
				<td>{{.Date}}</td>
				<td>{{if compare .First 1 }}打卡{{else}}未打卡{{end}}</td>
				<td>{{if compare .Second 1 }}打卡{{else}}未打卡{{end}}</td>
				<td>{{if compare .Third 1 }}打卡{{else}}未打卡{{end}}</td>
		</tr>
		{{end}}
	</table>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</body>
</html>
