{{template "mobile/top.html" .}}
	<h1>王天宇的打卡信息</h1>
	<form action="/checkin_m" method="POST">
		<select id="year" name="year">
		  <option value="2017">2017</option>
		</select>
		<select id="month" name="month">
		  <option value="01">1</option>
		  <option value="02">2</option>
		  <option value="03">3</option>
		  <option value="04">4</option>
		  <option value="05">5</option>
		  <option value="06">6</option>
		  <option value="07">7</option>
		  <option value="08">8</option>
		  <option value="09">9</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		</select>
		<input type="submit" placeholder="查询" />
	</form>
	<table id="checkin">
		<tr>
			<th>日期</th>
			<th>上午</th>
			<th>下午</th>
			<th>晚上</th>
		</tr>
		{{range .Checkin}}
		<tr>
				<td>{{.Date}}</td>
				<td>{{if compare .First 1 }}打卡{{else}}未打卡{{end}}</td>
				<td>{{if compare .Second 1 }}打卡{{else}}未打卡{{end}}</td>
				<td>{{if compare .Third 1 }}打卡{{else}}未打卡{{end}}</td>
		</tr>
		{{end}}
	</table>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</body>
</html>
