<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/mobile.css"/>
  <title>Gugoo</title>
  <script>
  $(document).ready(function(){
    $("select").change(function(){
      var year = $("#year option:selected").val();
      var month = $("#month option:selected").val();
        $.getJSON("/checkin_m"+"?year="+year+"&month="+month,function(result){
            $.each(result, function(i, field){
                $("form").append(field + " ");
            });
        });
    });
  });
  </scrip>
</head>
<body>
